#aboutPage{
background: url(../img/star-sky.jpg);
background-size: cover;
background-repeat:no-repeat;
background-color:rgb(0,0,102);
}

#title{
text-align:center;
padding:0px;
padding-bottom:1px;
margin:23px;
height:44px;
}

#overview{
text-align:center;
font-size:19px;
background-color:rgba(25,25,31,0.54);
width:1186px;
max-width:-1px;
min-width:1px;
padding:4px;
padding-right:1px;
padding-top:-3px;
padding-left:119px;
color:rgb(238,238,241);
margin:9px;
height:88px;
}

#aboutBanner{
text-align:center;
margin:8px;
height:143px;
}

#meetTheTeam{
margin:1px;
padding:5px;
padding-bottom:-1px;
padding-top:8px;
height:41px;
font-size:16px;
padding-left:4px;
}

#features{
text-align:center;
padding-bottom:20px;
padding-left:2px;
padding-top:15px;
background-color:rgba(255,255,255,0);
width:1109px;
margin:10px;
height:72px;
}

features2{
text-align:center;
padding-top:26px;
padding-bottom:21px;
}