#body {
  position:relative;
  text-align:inherit;
  align-items:center;
}

#needHelpTitle {
  text-align:center;
  font-size:70px;
}

#smartvidHeading {
  text-align:center;
  padding-top:60px;
}

#paragraph {
  padding-top:20px;
  text-align:center;
}

#pic {
  margin-left:300px;
  padding-top:30px;
}


